body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    margin: 0px auto;
    padding-top: 30px;
    display: flex;
}

.gambar {
    width: 50%;
}

.img-insta {
    width: 100%;
}

.card-wrapper {
    width: 50%;
    margin: 20px;
}

.card {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 3px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

.logo {
    width: 40%;
    margin-top: 30px;
}

.form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.fb-login {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    color: #385185;
    font-weight: bold;
    cursor: pointer;
    font-size: small;
}

.fb-login img {
    width: 20px;
    margin-right: 5px;
}

.forgot-password {
    padding-top: 20px;
    color: #00376b;
    font-size: 12px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* input[type="text"]::placeholder {
    padding-left: 6px;
}

input[type="password"]::placeholder {
    padding-left: 6px;
} */

input {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

button {
    background-color: #3897f0;
    width: 320px;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3079d7;
}

.divider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.line {
    flex: content;
    height: 1px;
    background: #dbdbdb;
}

.or {
    margin: 0 5px;
    color: #8e8e8e;
    font-weight: bold;
}

.card a {
    color: #3897f0;
    text-decoration: none;
    font-weight: bold;
}

.card p a {
    font-size: 15px;
}

.get-app {
    text-align: center;
}

.app-links img {
    height: 50px;
    width: 136px;
    margin: 5px;
}

.footer {
    margin-top: auto;
    background-color: #fafafa;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #999;
    border-top: 1px solid #dbdbdb;
}

.footer a {
    color: grey;
    text-decoration: none;
    margin: 0 10px;
    font-size: small;
}

.footer a:hover {
    text-decoration: none;
}

.footer-links {
    margin-bottom: 10px;
}

.copyright {
    font-size: small;
    color: grey;
}